rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }
      
    match /users/{userId}/{document=**} {
      allow read, write, update: if signedIn() && request.auth.uid == userId;
    }

    // Should be public
    match /courses/{document=**} {
      allow read: if true;
    }

    match /subjects/{document=**} {
      allow read: if true;
    }

    match /booking/{bookingId} {
    	allow read: if signedIn() && resource.data.user == get(/databases/$(database)/documents/users/$(request.auth.uid));
    }
  }
}