rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function signedIn() {
      return request.auth != null;
    }

    match /receipts/{userId}/{allPaths=**} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }
    
    match /public_assets/{allPaths=**} {
    	allow read: if true;
      allow delete, write, update, create: if false;
    }
  }
}
